<figure style="text-align: center;">
<img src="/images/{{ include.file }}#center" {% if include.caption %}alt="{{ include.caption }}"{% endif %} />
{% if include.caption %}<figcaption>{{ include.caption }}</figcaption>{% endif %}
</figure>
