---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.summary %}
        <em>{{ page.summary }}</em>
    {% endif %}
  </header>
  
  <div class="post-content" itemprop="articleBody">
      {{ content }}
  </div>

</article>
